@model IEnumerable<Chat.Models.ViewModel.ChatViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/site.min.css">

<script src="js/signalr-client-1.0.0-alpha2-final.min.js"></script>
<script src="https://use.fontawesome.com/45e03a14ce.js"></script>

<div class="main_section" style="margin-top: 20px">
    <div class="container">
        <div class="chat_container">
            <div class="col-sm-3 chat_sidebar">
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Conversation" />
                            <button class="btn btn-danger" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    @*<div class="dropdown all_conversation">
                            <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-weixin" aria-hidden="true"></i>
                                All Conversations
                                <span class="caret pull-right"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li>
                                    <a href="#"> All Conversation </a>  <ul class="sub_menu_ list-unstyled">
                                        <li><a href="#"> All Conversation </a> </li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>*@
                    <div class="member_list">
                        <ul id="chat-list" class="list-unstyled">
                            @foreach (var m in Model)
                            {
                                <li class="left clearfix contact" data-idchat="@m.Chat.ChatIdCentauro">
                                    @*<span class="chat-img pull-left">
                                            <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                                        </span>*@
                                    <div class="chat-body clearfix">
                                        <div class="header_sec">
                                            <strong class="primary-font">
                                                @Html.DisplayFor(nome => m.Chat.UserName)
                                            </strong>
                                            @*<strong class="pull-right">
                                                    09:45AM
                                                </strong>*@
                                        </div>
                                        <div class="contact_sec">
                                            @*<strong class="primary-font">(123) 123-456</strong>*@
                                            <span class="badge pull-right">Status atendimento</span>
                                        </div>
                                    </div>
                                </li>

                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!--chat_sidebar-->


            <div class="col-sm-9 message_section">
                <div class="row">
                    <div class="new_message_head">
                        <div class="pull-left">
                            <button>@*<i class="fa fa-plus-square-o" aria-hidden="true"></i>*@ 
                            @Html.DisplayFor(usernome => Model.First().Chat.UserName)
                            </button>
                        </div>
                        @*<div class="pull-right">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-cogs" aria-hidden="true"></i>  Setting
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Logout</a></li>
                                    </ul>
                                </div>
                            </div>*@
                    </div><!--new_message_head-->

                    <div class="chat_area">
                        <ul class="list-unstyled messages-list">
                            @foreach(var m in Model.First().Messages)
                            {
                                if (m.IsInternalUser)
                                {
                                    <li class="left clearfix admin_chat">
                                        <span class="chat-img1 pull-right">
                                            <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                                        </span>
                                        <div class="chat-body1 clearfix">
                                            <p>@m.Message</p>
                                            <div class="chat_time pull-left">09:40PM</div>
                                        </div>
                                    </li>

                                }
                                else
                                {
                                    <li class="left clearfix">
                                        <span class="chat-img1 pull-left">
                                            <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                                        </span>
                                        <div class="chat-body1 clearfix">
                                            <p>@m.Message</p>
                                            <div class="chat_time pull-right">09:40PM</div>
                                        </div>
                                    </li>

                                }
                            }                            

                        </ul>
                    </div><!--chat_area-->
                    <div class="message_write">
                        <textarea class="form-control" placeholder="type a message"></textarea>
                        <div class="clearfix"></div>
                        <div class="chat_bottom">
                            @*<a href="#" class="pull-left upload_btn">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    Add Files
                                </a>*@
                            <a href="#" class="pull-right btn btn-success">
                                Send
                            </a>
                        </div>
                    </div>

                </div>
            </div> <!--message_section-->
        </div>
    </div>
</div>

<div id="entrance">
    <label for="nick">Enter your nickname:</label>
    <input type="text" id="nick" />
    <button onclick="continueToChat()">Continue</button>
</div>

<div id="chat" style="display: none">
    <h3 id="spn-nick"></h3>
    <form id="frm-send-message" action="#">
        <label for="message">Message:</label>
        <input type="text" id="message" />
        <input type="submit" id="send" value="Send" class="send" />
    </form>
    <div class="clear">
    </div>
    <ul id="messages"></ul>
</div>

<script src="~/js/site.min.js"></script>